<div class="container">
  <div class="p-3 mb-2 col-md-2 font-weight-bold bg-light text-dark">マイページ</div>

  <!--メンバー情報紐付け-->
  <%= form_with model: @customer, url: customers_information_edit_path do |f| %>
    <table>
      <tr>
        <td><%= f.label :"登録情報" %></td>
        <td><%= link_to "編集する", edit_customer_path, class: 'btn ml-5 mb-3 btn-secondary' %></td>
      </tr>
    </table>
  <% end %>

  <!--現在の登録情報-->
  <div class="col-5">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="bg-light text-dark">氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="bg-light text-dark">カナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="bg-light text-dark">郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td class="bg-light text-dark">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="bg-light text-dark">電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="bg-light text-dark">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--ブックマーク一覧表示-->
  <div class="p-3 mb-2 bg-light text-dark">ブックマーク一覧</div>
  <table class='table'>
    <thead>
      <tr>
        <th>施設名</th>
        <th>エリア</th>
        <th>料金</th>
        <!--<th>評価</th>-->
      </tr>
    </thead>
    <tbody>
      <% @bookmark_list.each do |facility| %>
        <tr>
          <td><%= link_to facility.name ,facility_path(facility) %></td>
          <td><%= facility.area.name %></td>
          <td><%= facility.price.to_s(:delimited) %></td>
          <!--<td>評価点数記載予定</td>-->
        </tr>
      <% end %>
    </tbody>
  </table>

</div>