<div class='container'>
  <div class="p-3 mb-2 col-md-3 font-weight-bold bg-light text-dark">
    <%= image_tag 'ranking.png', size: '40x40' %>
    ランキング（評価降順）
  </div>

  <!--施設一覧評価の高い順に表示(ランキング機能)-->
  <div class='row'>
    <div class="d-block mx-auto">
      <% @facilities.each do |facility| %>
        <%= link_to facility_path(facility) do %>
          <div class="col-xs-3 m-3">
            <%= image_tag facility.image, size: "600x450" %><br>
            <%= facility.name %><br>
            <%= facility.area.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>