<div class='container'>
  <div class="p-3 mb-2 col-md-2 font-weight-bold bg-light text-dark">検索結果</div>
  <div class='row'>

    <!--Facility.nameで検索時 -->
    <% if @range == "Facility" %>
        <% @facilities.each do |facility| %>
          <div class="col-xs-3 m-3">
            <%= link_to facility_path(facility.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
              <%= image_tag facility.image, size: "250x200" %><br>
              <%= facility.name %><br>
              <%= facility.area.name %>
            <% end %>
          </div>
        <% end %>

    <!--Facility.area_idで検索時 -->
    <% else %>
      <% @facilities.each do |facility| %>
        <div class="col-xs-3 m-3">
          <%= link_to facility_path(facility.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
            <%= image_tag facility.image, size: "250x200" %><br>
            <%= facility.name %><br>
            <%= facility.area.name %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>