<div class='container'>
  <div class='row'>

    <!--施設詳細情報表示-->
    <div class="col-4">
      <%= image_tag @facility.image, size: "200x200" %>
    </div>
    <div class="col-8">
      <div class="row">
  　　    <div class="col-12">
          <table class="table">
            <tbody>
              <tr>
                <td><strong><%= @facility.name %></strong></td>
              </tr>
              <!--<tr>-->
              <!--  <td>施設評価表示予定</td>-->
              <!--</tr>-->
              <tr>
                <td><%= @facility.introduction %></td>
              </tr>
              <tr>
                <td><%= @facility.area.name %></td>
              </tr>
              <tr>
                <td><%= @facility.price.floor.to_s(:delimited) %>円</td>
              </tr>
              <tr>
                <td><%= @facility.open %></td>
              </tr>
              <tr>
                <td><%= @facility.holiday %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--以下レビューフォーム・一覧表示予定-->
    <div>
      <p>レビュー件数：<%= @facility.reviews.count %></p>
        <% @facility.reviews.each do |review| %>
          <%= review.customer.first_name %>
          <%= review.created_at.strftime('%Y/%m/%d') %><%= review.comment %>
          <% if review.customer == current_customer %>
            <%= link_to "削除", facility_review_path(review.facility, review), method: :delete %>
          <% end %>
        <% end %>
    </div>
    <div>
      <%= form_with(model: [@facility, @review], local: true) do |f| %>
        <%= f.text_area :comment, placeholder: "コメントをここに" %>
          <%= f.submit "レビューを投稿する" %>
      <% end %>
    </div>

  </div>
</div>