<nav class="navbar navbar-expand-lg navbar-right bg-secondary">
  <div class="container">

    <!--ロゴpushでtopページへ遷移-->
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.jpg", style: "width: 50px; height: auto;" %>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <!--検索フォームの部分テンプレート-->
    <%= render 'public/facilities/search' %>

    <!--下記遷移用ナビバー-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        <!--customerログイン時-->
        <% if customer_signed_in? %>
          <li class="ml-4">
            <%= link_to about_path,class: 'nav-link text-light' do %>
              About
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to rank_path,class: 'nav-link text-light' do %>
              ランキング
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to customer_path(current_customer),class: 'nav-link text-light' do %>
              マイページ
            <% end %>
          </li>
          <li class="ml-4">
            <%=  link_to facilities_path,class: 'nav-link text-light' do %>
              施設️一覧
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
              ログアウト
            <% end %>
          </li>

        <!--adminログイン時-->
        <% elsif admin_signed_in? %>
          <li class="ml-4">
            <%= link_to admin_facilities_path,class: 'nav-link text-light' do %>
              施設一覧
            <% end %>
          </li>
          <li class="ml-4">
            <%=  link_to admin_customers_path,class: 'nav-link text-light' do %>
              会員一覧
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to admin_areas_path,class: 'nav-link text-light' do %>
              エリア一覧
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              ログアウト
            <% end %>
          </li>

        <!--未ログイン時-->
        <% else %>
          <li class="ml-4">
            <%= link_to about_path,class: 'nav-link text-light' do %>
              About
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to facilities_path,class: 'nav-link text-light' do %>
              施設一覧
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              新規登録
            <% end %>
          </li>
          <li class="ml-4">
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              ログイン
            <% end %>
          </li>
        <% end %>
        <%= image_tag "header.png", style: "width: 35px;" %>

      </ul>
    </div>
  </div>
</nav>